{% extends 'base.html' %}

{% block content %}
{% csrf_token %}

<div>
    <a href="{% url 'add_ticket' %}">Demander une critique</a>
    <a href="">Créer une critique</a>
</div>
{% for post in posts %}
    {% if post.content_type == 'TICKET' %}
        <div>
            <p>{{ post.user }} a demander une critique</p>
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            <img src="">
        </div>
    {% elif post.content_type == 'REVIEW' %}
        <div>
            <p>{{ post.user }} a publier une critique</p>
            <p>{{ post.headline }} - {{ post.rating }}</p>
            <p>{{ post.body }}</p>
            <img src="">
        </div>


    {% endif %}
{% endfor %}


{% endblock %}