{% extends 'base.html' %}
{% block content %}
{% csrf_token %}

<div class="box">
    <a class="button" href="{% url 'add_ticket' %}">Demander une critique</a>
    <a class="button" href="{% url 'add_review_without_ticket' %}">Créer une critique</a>
</div>
{% for post in posts %}
    {% if post.content_type == 'TICKET' %}
        <div class="card">
            {% if user == post.user %}
                <p>Vous avez demandé uns critique</p>
            {% else %}
                <p>{{ post.user }} a demandé une critique</p>
            {% endif %}
            <p>{{ post.time_created }}</p>
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            {% for search_post in posts %}
                {% if search_post.content_type == 'REVIEW' %}
                    {% if not search_post.ticket.id == post.id %}
                        <div class="card--buttons">
                            <a class="button" href="{% url 'add_review_from_ticket' post.id %}">Créer une critique</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% elif post.content_type == 'REVIEW' %}
        <div class="card">
            {% if user == post.user %}
                <p>Vous avez publié uns critique</p>
            {% else %}
                <p>{{ post.user }} a publié une critique</p>
            {% endif %}
            <p>{{ post.time_created }}</p>
            <p>{{ post.headline }} -
                    {% for i in rating %}
                        {% if post.rating <= i %}
                            &#9734
                        {% else %}
                            &#9733
                        {% endif %}
                    {% endfor %}</p>
            <p>{{ post.body }}</p>
            <div class="card">
                <p>Ticket - {{ post.ticket.user }}</p>
                <p>{{ post.ticket.title }}</p>
                {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}">
            {% endif %}
            </div>
        </div>


    {% endif %}
{% endfor %}


{% endblock %}