{% extends 'base.html' %}

{% block content %}
    <div class="card__form">
        <h2>Créer une critique</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                <h3>Livre / Article</h3>
                {{ ticket_form.as_p }}
            </div>
            <div class="form">
                <h3>Critique</h3>
                <div>
                    <label for="headline">Titre</label>
                    <div>
                       {{ review_form.headline }}
                    </div>
                </div>
                <div>
                    <label for="id_rating" class="form-label">Note</label>
                    <div class="row">
                        {% for rate in review_form.rating %}
                            <div class="col">
                                {{ rate }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <label for="body">Commentaire</label>
                    <div>
                       {{ review_form.body }}
                    </div>
                </div>
            </div>
            <input class="button" type="submit" value="Envoyer">
        </form>
    </div>
{% endblock %}

