body {
  background-color: #e0ebeb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body__content {
  margin-top: 200px;
}

h1 {
  color: #24527a;
  text-align: center;
}

.button {
  background-color: #24527a;
  border: 0;
  color: #ccac00;
  font-size: 17px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin: 0.5rem;
}
.button:hover {
  background-color: #8eaebb;
  color: #24527a;
}
.button:active {
  transform: scale(0.95);
}
.button > a {
  color: #ccac00;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 20px auto;
  padding: 20px 20px 10px;
  border-radius: 20px;
}
.card > p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card > img {
  padding: 20px;
  max-width: 200px;
}
.card .button {
  max-width: 25%;
}
.card--buttons {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form .message {
  color: red;
}
.form > h2 {
  color: #24527a;
}
.form > h3 {
  color: #24527a;
  margin-top: 15px;
  margin-bottom: 5px;
}
.form > p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form > form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.form > form > #id_followed_user {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.form > form > p > label {
  color: #24527a;
}
.form__listing {
  list-style: none;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form__listing--item {
  border-radius: 5px;
  background-color: #8eaebb;
  margin: 5px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__listing--item .left {
  padding: 5px;
  color: #24527a;
  font-weight: 600;
}
.form__listing--item .right {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #ccac00;
}
.form__listing--item .right > a {
  text-decoration: none;
  font-weight: bold;
  color: #24527a;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #24527a;
}
.nav__item {
  margin: 10px;
  margin-right: 0.25rem;
  color: #e0ebeb;
}
.nav__item--right {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
}
.nav__item--right a {
  float: left;
  color: #ccac00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav__item--right a:hover {
  background-color: #e0ebeb;
  color: #24527a;
}
.nav__item--right a:active {
  background-color: #ccac00;
  color: #24527a;
}

#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e0ebeb;
}
#header > h1 {
  font-size: 5em;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  color: #24527a;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.login-form {
  position: relative;
  margin: auto;
  background-color: #24527a;
  border-radius: 20px;
  box-sizing: border-box;
  height: 550px;
  padding: 20px;
  width: 320px;
}
.login-form .centring {
  width: 280px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.login-form .centring > hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-form .centring > p {
  color: #8eaebb;
  margin-top: 20px;
}
.login-form .title {
  color: #ccac00;
  font-size: 28px;
  font-weight: 600;
  margin-top: 0px;
}
.login-form .signup {
  margin-top: 40px;
}
.login-form .separator {
  border: 2px;
  border-color: #ccac00;
}
.login-form .container {
  margin-bottom: 10px;
}
.login-form .container .submit-button {
  position: relative;
  background-color: #8eaebb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #24527a;
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.login-form .container .submit-button:active {
  background-color: #ccac00;
  color: #24527a;
}
.login-form .container .submit-button > a {
  color: #24527a;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.login-form .container > p {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.login-form .container > p > input {
  margin-top: 10px;
  background-color: #e0ebeb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #24527a;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.login-form .container > p > label {
  color: #ccac00;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: -10px;
}

.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 20px;
  width: 320px;
  background-color: #24527a;
  border-radius: 20px;
}
.signup-form > h2 {
  color: #ccac00;
}
.signup-form > form .submit-button {
  position: relative;
  background-color: #8eaebb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #24527a;
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.signup-form > form .submit-button:active {
  background-color: #ccac00;
  color: #24527a;
}
.signup-form > form > p {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.signup-form > form > p:empty {
  height: 0;
  margin: 0;
}
.signup-form > form > p .helptext {
  display: flex;
  visibility: collapse;
  height: 0;
}
.signup-form > form > p > input {
  margin-top: 10px;
  background-color: #e0ebeb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #24527a;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 0 20px 0;
  width: 100%;
}
.signup-form > form > p > label {
  color: #ccac00;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}
.signup-form > form > ul {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.card__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}
.card__form .form {
  width: 100%;
  border: 1px solid #24527a;
  align-items: flex-start;
  padding: 20px;
}
.card__form .form form {
  width: 100%;
  align-items: flex-start;
}
.card__form .form form img {
  max-width: 200px;
}
.card__form .form p {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}
.card__form .form p > label {
  margin-bottom: 5px;
}
.card__form .form p #id_title {
  height: 1.5em;
}
.card__form .form p #id_image {
  height: 2em;
}
.card__form .form p > input {
  width: calc(100% - 8px);
  height: 1em;
}
.card__form > h2 {
  color: #24527a;
}
.card__form > form {
  width: 100%;
}
.card__form > form .form {
  border: 1px solid #24527a;
  align-items: flex-start;
  padding: 20px;
}
.card__form > form .form .ticket_image > img {
  max-width: 200px;
}
.card__form > form .form > h3 {
  justify-content: flex-start;
}
.card__form > form .form > p {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}
.card__form > form .form > p > label {
  margin-bottom: 5px;
}
.card__form > form .form > p > input {
  width: calc(100% - 8px);
  height: 1em;
}
.card__form > form .form > div {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}
.card__form > form .form > div > label {
  margin-bottom: 5px;
}
.card__form > form .form > div > div input {
  width: calc(100% - 8px);
  height: 1.5em;
}
.card__form > form .form > div > div textarea {
  width: calc(100% - 8px);
}
.card__form > form .form > div .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card__form > form .form > div .col {
  height: 1em;
  position: relative;
}
.card__form > form .form > div .col > label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  height: 1em;
  width: 50px;
}
.card__form > form .form > div .col > label > input {
  height: 1em;
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
